.idea/
.idea/*
Homestead.yaml
Homestead.json
.sass-cache/
*.css.map
.DS_Store/
.DS_Store
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.commandlinetools
composer.lock
database/database.sqlite

vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride
